<div class="container-fluid">
    <!--Top Home page bar -->
    <div class="row">
<app-dtopbar></app-dtopbar>

    </div>

    <div class="row">
        <!--letf sidebar -->
        <div class="col-md-2"><app-dleftsidebar></app-dleftsidebar></div>
        <!--MAIN CONTAINER -->
        <div class="col-md-7" style="padding-top:220px;"><router-outlet></router-outlet></div>
        <!--Right sidebar registration-->
        <div class="col-md-3"><app-dregistration></app-dregistration></div>
    </div>

</div>



<!--Login Modul-->

<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 25vw;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="exampleModalLabel">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <app-dlogin></app-dlogin>
        </div>
      </div>
    </div>