<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label for="lemail">E-mail address</label>
      <input type="email" class="form-control" id="lemail" placeholder="Enter E-mail address">
    </div>
    <div class="form-group">
      <label for="lpass">Password</label>
      <input type="password" class="form-control" id="lpass" placeholder="Enter Password">
    </div>

  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-secondary" (click)="hide()">Cancel</button>
    <button (click)="login()" type="button" class="btn btn-primary ml-3">Login</button>
  </div>
</div>

