<nav class = "navbar navbar-expand-lg navbar-light bg-light" style="width:100vw;">
    <a class = "navbar-brand" href="#">Hallhatatlanok</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupported">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Homepage</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/']">About</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Contact Us</a></li>


        </ul>

        <a class="nav-link" [routerLink]="['/']">Register</a>"


    </div>




</nav>